* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
  height: 100%;
}

main {
  flex: 1 0 auto;
  margin-left: 15vw;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: "Maison Neue Book","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    font-weight: 100;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("../assets/sea.jpg");
    /* padding: 0 20px; */
    margin: 0 auto;

}

a {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

a:hover {
    padding-bottom: 5px;
    box-shadow: inset 0 -2px 0 0 #fff;
}

.dataUpdate-submit:hover, .dataUpdate-submit:focus, .download:hover, .download:focus  {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #fff;
  cursor: pointer;
}

h1 {
  margin-top: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;

    min-height: 100vh;
}

.table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 100vw;
  border-collapse: collapse;
  max-width: 80%;
  /* display: table; */
}

.table td, .table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: #102F4A;
  color: #fff
}

.table td {
  background-color: #fff;
}

.table tr:nth-child(even) {
  background-color: #000;
}

.dataUpdate-submit {
  margin: 10px 0 0 0;
  color: #fff;
  font-size: 1rem;
  background-color: #102F4A;
  display: block;
  width: 120px;
  height: 40px;
}

.download {
  margin: 10px 0 0 0;
  color: #fff;
  font-size: 1rem;
  background-color: #102F4A;
  display: block;
  width: 120px;
  height: 40px;
}

.toggle-button:hover {
  cursor: pointer;
  background-color: #464646;
  transition: 0.05s;
}

.toggle-button {
  margin-left: auto;
  min-width: 50px;
  height: 50px;
  background-color: #232323;
  color: #fff;
  font-size: 1.75rem;
  border-radius:10px;
  /* z-index: -1; */
}