* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
    /* background-color: yellow; */
    cursor: pointer;
    text-decoration: none;
}

html body{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Maison Neue Book","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 100%;
  font-weight: 100;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

main {
  flex: 1 0 auto;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-image: url("../assets/sea.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #6C8DA8;
    margin: 0 auto;
    min-height: 100vh;
  }
 
#intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.intro-image {
  height: 50vh;
  width: 100vw;
  background-color: aliceblue;
}

.intro-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 0;
  margin: 0;
  height: 50vh;
  width: 70vw;
  background-color: white;
}

.intro-name {
  height: 2rem;
}

.intro-alias {
  height: 2rem;
}

.intro-scientificname {
  height: 2rem;
}

.intro-specification {
  height: 2rem;
}

.intro-behaviour {
  height: 2rem;
}

.intro-habitat {
  height: 2rem;
}

.intro-endanger {
  height: 2rem;
}

